* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
    font-family: Roboto, times, sans-serif;
}

.main {
    width: 33%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5px;
}

.scoreboard {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.rounds {
    font-size: 30px;
}

.rounds select {
    padding: 0 10px;
    font-size: 20px;
    border-radius: 50px;
}


.scoreboard button {
    padding: 3px 20px;
}

.scores {
    font-size: 30px;
}

.message {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}



.attacks {
    display: flex;
    gap: 5px;
}

.attacks button {
    padding: 10px 0;
    flex: 1;
}